(
    name: "Fields of Clover",
    rect: Rect(min: Vec2(-500.0, -500.0), max: Vec2(500.0, 500.0)),
    num_enemies: 25,
    num_obstacles: 50,
    south: Some("Lovely Cottage"),
    east: Some("Overflowing Graveyard"),
)