BossStats(
    name: "Sister Frederika of The Lost",
    skill_unlocked: Some(Healing),
    scale: 1.2,
    stats: EnemyStats(
        enemy_type: Ranged(
            melee_damage: 0.5,
            projectile_damage: 100.0,
            projectile_speed: 800.0,
            projectile_lifetime: 2.0,
            homing: false,
            delay: 9999999999999999.0,
        ),
        health: 1350.0,
        speed: 50.0,
        mass: 2.0,
        alert_radius: 250.0,
        chase_radius: 500.0,
        desired_distance: 999999.0,
    )
)