Story (
    pages: [
        "Seconds after the *Wizard* falls to the ground, you are blinded once again. Still, you can tell that you're no longer at the pinnacle of the *Wizard's Tower*, as the cold, stale air is replaced by the pleasant aroma of flowers.",

        "*\"Oh my!\"*, a distantly familiar voice cries. *\"You took quite the tumble!\"* As your vision returns, you can just make out the silhouette of a man offering his hand to help. Still too stunned to even consider your response, *you accept*.",

        "As he lifts you to your feet, your senses recover completely. What you see almost knocks you to the ground once more: *The Wizard*, smiling kindly. *\"I'm sorry, my friend, we must have bumped into one another.\"* You still can't muster a reply. *\"Say, you're going to apply to the Adventurer's Guild, aren't you? Well, good luck!\"*, he says with a wink.",

        "You turn to finally resume your journey. Did you *hit your head*? Was that *all a dream*? You absentmindedly begin to pat the dust off of yourself, when your hand brushes against one of the *Artifacts* you picked up in... wherever that was. You start and quickly check; sure enough, *they're all here*.",

        "You turn and run after *The Wizard*, but he's nowhere to be seen. You look down; the path left by his footprints just stops. If he could do that the whole time, why was he walking the road to begin with? You turn once more, and once more return to your journey.\n\nYou don't notice, but your gait is no longer that of a newbie. You are making your way, *walking like an expert Adventurer*."
    ]
)